.container{
  width: 100%;
}
.card1{
  width: 300px;
  background-color: pink;
  color: black;
  font-family: sans-serif;
  margin: 0.3em 0.5em 0.5em 0.5em;
  padding: 2em;
  float: left;
}
.card2{
  width: 300px;
  background-color: skyblue;
  color: black;
  font-family: sans-serif;
  margin: 0.5em 0.5em 0.7em 0.5em;
  padding: 2em;
  float: left;
}
.title1{
  background-color: black;
  padding: 0.5em;
  color: white;
  margin: 0em -2em 0em 5em;
}
.list1 ul{
    list-style-image: url('../assets/icons/blog.png');
}

.title2{
  background-color: black;
  padding: 0.5em;
  color: white;
  margin: 0em 5em 0em -2em;
}
.list2 ul{
    list-style-image: url('../assets/icons/video.png');
}
.hover:hover{
  margin: 0;
  transition: 0.5s;

}
